#projects {
	padding: 0 3rem;
	margin-bottom: 10rem;
	opacity: 0;
}

#project.fade-in {
	animation-delay: 200ms;
}

#projects h2 {
	color: var(--red);
	margin-bottom: 4rem;
}

.projects-container {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.project-card {
	background-color: var(--dark-green-blue);
	padding: 2rem;
	max-height: 20rem;
	border-radius: 3px;
	position: relative;
	transition: max-height 0.8s ease;
	overflow: hidden;
	opacity: 0;
}

.project-card::before {
	content: "";
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to top, #000000 10%, transparent 80%);
	position: absolute;
	top: 0;
	left: 0;
}

.project-card.active {
	max-height: 100rem;
}

.project-card.active::before {
	content: none;
}

.spotify-proj.fade-in {
	animation-delay: 300ms;
}

.nutrition-proj.fade-in {
	animation-delay: 400ms;
}

.nutrition-proj.fade-in {
	animation-delay: 500ms;
}

.project-card h3 {
	font-weight: 600;
}

.project-card .card-heading {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	align-items: center;
}

.project-card p {
	margin-bottom: 2rem;
}

.project-card p img {
	width: 1.5rem;
	margin-bottom: -0.1rem;
	margin-right: 0.6rem;
}

.project-card div img {
	width: 2.5rem;
}

.project-card .buttons {
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-bottom: 2rem;
}

.project-card div img.img-helper {
	width: 2.2rem;
}

.rm-rl-btns {
	position: absolute;
	bottom: 1rem;
}

.rm-rl-btns button {
	color: var(--red);
	font-size: 1.6rem;
}

.rm-rl-btns button p {
	margin-bottom: 0;
}

.rm-rl-btns button img {
	width: 2rem;
	margin-top: 0.2rem;
}

.read-more,
.read-less {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.read-less,
.project-card.active .read-more {
	display: none;
}

.project-card.active .read-less {
	display: flex;
}

.proj-link {
	position: relative;
	z-index: 2;
}

@media screen and (min-width: 700px) {
	#projects {
		padding: 0 5rem;
	}

	#projects h2 {
		font-size: 3rem;
	}

	.project-card {
		max-height: 25rem;
	}
}

@media screen and (min-width: 1000px) {
	.project-card {
		max-height: fit-content;
		width: 50%;
		overflow: visible;
	}

	.project-card::before {
		content: none;
	}

	.rm-rl-btns button {
		display: none;
	}

	.spotify-proj::before {
		content: "";
		background-image: url(/public/images/spotify-app.png);
		background-size: cover;
		position: absolute;
		right: 0;
		left: 103%;
		height: 30rem;
		width: 100%;
		z-index: -1;
		top: 50%;
		transform: translateY(-50%);
	}

	.nutrition-proj {
		align-self: flex-end;
		margin-left: 2rem;
	}

	.nutrition-proj::after {
		content: "";
		background-image: url(/public/images/nutrition-app.png);
		background-size: cover;
		position: absolute;
		height: 30rem;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		left: -103%;
	}

	.game-proj::before {
		content: "";
		background-image: url(/public/images/game-app.png);
		background-size: cover;
		position: absolute;
		right: 0;
		left: 103%;
		height: 30rem;
		width: 100%;
		z-index: -1;
		top: 50%;
		transform: translateY(-50%);
	}
}
