.skills-container {
	color: #fff;
	background-color: #140826;
	padding: 3rem 0 4rem 0;
	margin-bottom: 4rem;
}

.skills-container h1 {
	text-align: center;
	margin-bottom: 3rem;
	font-size: 3rem;
}

.skills {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
}

.skills div {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.skills h2 {
	font-size: 1.7rem;
	margin-top: 1rem;
}

.logo {
	width: 6rem;
}

.logo-helper-smaller {
	width: 5rem;
}

.mongo-helper {
	width: 4rem;
}
