.skills-container {
	color: var(--light-blue);
	padding: 3rem 0 4rem 0;
	margin-bottom: 10rem;
	background-size: cover;
	background-position: bottom;
	opacity: 0;
}

.skills-container.fade-in {
	animation-delay: 100ms;
}

.skills-container h2 {
	text-align: center;
	margin-bottom: 3rem;
	color: var(--red);
}

.skills {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 0 6rem;
}

.skills .container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5rem;
}

.skills .container:first-child {
	transform: translateX(-100%);
	transition: all 1.5s;
}

.skills .container:first-child.slide {
	transform: translateX(0);
}

.skills .container:last-child {
	transform: translateX(100%);
	transition: all 1.5s;
}

.skills .container:last-child.slide {
	transform: translateX(0);
}

.skills .container div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
}

.skills p {
	font-size: 1.6rem;
	margin-top: 1rem;
	font-weight: bold;
}

.logo {
	width: 5rem;
}

.logo-helper-smaller {
	width: 4.3rem;
}

.mongo-helper {
	width: 3.5rem;
}

@media screen and (min-width: 700px) {
	.skills-container h2 {
		font-size: 3rem;
		margin-bottom: 4rem;
	}

	.skills {
		gap: 5rem;
	}

	.skills p {
		font-size: 2rem;
	}

	.skills .container {
		gap: 10rem;
	}

	.logo {
		width: 6rem;
	}

	.logo-helper-smaller {
		width: 5.3rem;
	}

	.mongo-helper {
		width: 4.3rem;
	}
}

@media screen and (min-width: 1000px) {
	.skills {
		flex-direction: row;
		justify-content: center;
		gap: 10rem;
	}

	.skills-container h1 {
		font-size: 4rem;
	}

	.skills h2 {
		font-size: 2rem;
	}

	.skills .container {
	}
}

/* @media screen and (min-width: 1200px) {
	.skills {
		gap: 10rem;
	}

	.skills .container {
		gap: 10rem;
	}
} */
