.navbar {
	display: flex;
	justify-content: right;
	padding: 2rem 2rem 4rem;
	margin-bottom: 2rem;
	align-items: center;
	justify-content: space-between;
}

.navbar button {
	scale: 0.9;
}

.nav-logo {
	width: 5rem;
	height: 5rem;
	border: 3px solid var(--red);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border-radius: 50%;
}

.nav-logo p {
	font-size: 2rem;
	color: var(--red);
}

.toggle {
	position: relative;
	z-index: 3;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: transparent;
	border: none;
}

.toggle span {
	position: absolute;
	width: 40px;
	height: 4px;
	background-color: var(--red);
	transition: 0.5s;
	border-radius: 4px;
}

.toggle span:nth-child(1) {
	transform: translateY(-15px);
	width: 25px;
	left: 15px;
}

.toggle.active span:nth-child(1) {
	width: 40px;
	transform: translateY(0px) rotate(45deg);
}

.toggle span:nth-child(2) {
	transform: translateY(15px);
	width: 25px;
	left: 15px;
}

.toggle.active span:nth-child(2) {
	width: 40px;
	transform: translateY(0px) rotate(315deg);
}

.toggle.active span:nth-child(3) {
	transform: translateX(60px);
}

.navbar ul {
	position: absolute;
	overflow-x: hidden;
	list-style: none;
	background-color: var(--green-blue);
	right: 0px;
	z-index: 2;
	top: 0;
	width: 0px;
	height: 100%;
	bottom: 0;
	overflow: hidden;
	transition: width 0.2s ease-in;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 10rem 0 0 0;
	white-space: nowrap;
}

.navbar.active ul {
	width: 23rem;
}

.navbar ul li a {
	font-size: 2rem;
	color: var(--white-blue);
	font-weight: 600;
	padding-left: 3rem;
	text-decoration: none;
	transition: all 0.2s;
}

.navbar ul li a:hover {
	color: var(--red);
}

@media screen and (min-width: 700px) {
	.navbar {
		padding: 2rem 5rem 4rem;
	}
}

@media screen and (min-width: 1000px) {
	.toggle {
		display: none;
	}

	.navbar ul {
		position: relative;
		width: fit-content;
		background-color: transparent;
		padding: 0 3rem 0 0;
		flex-direction: row;
		gap: 6rem;
		align-items: center;
	}

	.navbar ul li a {
		color: var(--light-blue);
		font-weight: 600;
		font-size: 2.2rem;
		padding-left: 0;
		transition: all 0.2s;
	}

	.resume-btn-nav {
		border: 1px solid var(--red);
		padding: 1rem 2rem;
		border-radius: 2px;
		transition: all 0.3s;
	}

	.resume-btn-nav:hover {
		background-color: #ea4a4a2a;
	}
	.resume-btn-nav a {
		color: var(--red) !important;
	}
}

@media screen and (min-width: 1200px) {
	.navbar {
		padding: 2rem 0 4rem;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.navbar .fade-in {
	animation: fadeIn 1s;
}
