.skill {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skill img {
	width: 4rem;
}

.skill h3 {
	font-size: 1.6rem;
	margin-top: 2rem;
	font-weight: 600;
}

.mongodb img {
	width: 3rem;
}

.mysql img {
	width: 5.5rem;
}

.html5 img {
	width: 4.2rem;
}

.css3 img {
	width: 4.5rem;
}

@media screen and (min-width: 700px) {
	.skill h3 {
		font-size: 1.8rem;
	}
}
