@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
	--green-blue: #002733;
	--transparent-gb: #16698372;
	--dark-green-blue: #001520;
	--red: #ea4a4a;
	--light-blue: #85a4b5;
	--white-blue: #b3bec2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Inter", sans-serif;
	color: var(--light-blue);
	background-color: var(--green-blue);
	min-height: 100vh;
	font-size: 1.6rem;
}

img {
	width: 100%;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

button {
	font-size: 1.6rem;
	background-color: transparent;
	border: none;
}

body .app.active {
	overflow-x: hidden;
	height: 100vh;
}

body .app.active::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.742);
	position: absolute;
	z-index: 1;
	height: 100vh;
	width: 100%;
}

.padding-helper {
	padding: 0 2rem;
}

@media screen and (min-width: 700px) {
	.padding-helper {
		padding: 0 7rem;
	}
}

@media screen and (min-width: 1000px) {
	body {
		padding-top: 4rem;
	}

	.padding-helper {
		padding: 0 13rem;
	}
}
