@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Fragment Mono";
	color: #fff;
	min-height: 100vh;
	background: linear-gradient(#4d084c, #080020 70%);
	background-attachment: fixed;
	padding: 1rem;
	padding-bottom: 10rem;
	font-size: 1.6rem;
}

img {
	width: 100%;
}
